# Oracle DB Config
ICV_DB_USER=
ICV_DB_PASSWORD=
ICV_DB_CONNECT_STRING=

# Enrollment Config
ICV_URL_FOTO=
ICV_LOTE=50
ICV_CONCURRENCIA=5

ICV_SOAP_USER=
ICV_SOAP_PASS=

# Regula Config
REGULA_URL=http://localhost:41101
REGULA_ICV_GROUP_ID=
